.intro {
    min-height: 350px;
    background-color: #23272A;
    align-items: center;
    display: flex !important; 
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.5%;
    .title {
        font-size: 45px;
        color: white;
        font-weight: 600;
    }
    input {
        width: 500px !important;
    }
    .options {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
        * {
            margin-right: 10px;
        }
    }
}
