.intro {
    background-image: url(/assets/fon.png);
    background-position: 10%;
    background-size: 70%;
    padding: 3%;
    margin-bottom: 1.5%;
}

.text {
    color: white;
}

.title {
    color: white;
    font-size: 54px;
    font-weight: 600;
}

.subtitle {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.tags {
    display: flex;
    align-items: center;
}

.tags * {
    padding: 5px 7.5px;
    border-radius: 2.5px;
    background: #5865f2;
    margin-top: 2.5px;
    margin-right: 7.5px;
    font-size: 18px;
    color: white;
}

.wumpus {
    width: 400px;
    position: relative;
    float: right;
    animation: wumpusFly 2s linear 5s infinite alternate;
}

@keyframes wumpusFly {
    0% {
        top: -20px;
    }
    25% {
        top: -10px;
    }
    50% {
        top: 0px;
    }
    75% {
        top: 10px;
    }
    100% {
        top: 20px;
    }
}

.bots {
    padding: 20px;
}

.bots h2 {
    margin-left: 3.5%;
}

.empty {
    font-size: 36px;
    color: white;
    text-align: center;
    font-weight: 600;
}
