.intro {
    background: #5167B8;
    min-height: 250px;
    padding: 3% 4%;
}

.search {
    padding-top: 2%;
}

.text {
    color: white;
}

.title {
    color: white;
    font-size: 54px;
    font-weight: 600;
}

.subtitle {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.tags {
    display: flex;
    align-items: center;
}

.tags a {
    background: #2C2F33;
}
.tags a:hover {
    background: #23272A;
}

.wumpus {
    max-width: 350px;
    position: relative;
    animation: wumpusFly 2s linear 5s infinite alternate;
}

@keyframes wumpusFly {
    0% {
        top: -5px;
    }
    100% {
        top: 5px;
    }
}

.bots {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bots h2 {
    margin-left: 3.5%;
}

.empty {
    font-size: 36px;
    color: white;
    text-align: center;
    font-weight: 600;
}   
.hr {
    border: 2px solid #7289da;
    margin: 5% 50px 5% 50px;
}
