.container {
    width: 100%;
    padding: 1% 2.5%;
    padding-top: 2%;
    background: #2c2f33;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    .tag {
        display: flex;
        align-items: center;
        color: white;
        border-radius: 5px;
        margin-bottom: 2%;
        margin-right: 1%;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
            box-shadow: 1px 1px 5px #5865f2;
            transition: 0.4s;
        }
        .name {
            background: #5865f2;
            padding: 5px 10px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            &::before {
                content: '#';
            }
        }
        .count {
            padding: 5px 10px;
            background: #4f545c;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
