@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './navbar.css';
@import './footer.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #1d1f23 #23272a;
}

input::placeholder {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

a {
    color: white !important;
}

a:hover {
    color: white;
    text-decoration: none;
}

body {
    overflow-x: hidden !important;
    background: #36393e;
}

.form-check {
    margin: 10px 0;
}

.dropdown-toggle {
    background: #5865f2 !important;
}

.dropdown-item {
    color: black !important;
}

.dropdown-item {
    background-color: #5865f2;
    color: white !important;
}

.dropdown-item:hover {
    background-color: #5865f2;
}

.dropdown-menu {
    background-color: #5865f2 !important;
}


.settings_profile__3vfUF .Input_preview__2UqJa {
    border: 1px solid #282b30;
    color: silver;
    background: #36393e; 
}

h4 {
    margin: 15px 0;
}