
.comment {
    margin-bottom: 2.5%;
    background: #1d1f23;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    .comment-avatar {
        width: 75px;
        height: 75px;
        border-radius: 50px;
        margin-right: 15px;
    }
    .comment-username {
        font-size: 20px;
        cursor: pointer;
        span {
            background: rgba(54, 57, 62, 0.7);
            padding: 5px 10px;
            font-size: 16px;
            border-radius: 10px;
        }
    }
    .rating {
        margin: 0;
    }
    .comment-text {
        padding: 10px 0;
        display: block;
        textarea {
            width: 100%;
            background: #282b30;
            border: none;
            color: white;
            padding: 10px;
            min-height: 100px;
        }
    }
}

.comment-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.comment-controls * {
    cursor: pointer;
}

.comment-edit {
    padding: 5px;
    border-radius: 5px;
    background: #5865f2;
    margin-right: 10px;
}

.comment-delete {
    padding: 5px;
    border-radius: 5px;
    background: #ed4245;
}

.comment-tick {
    padding: 5px;
    border-radius: 5px;
    background: #57f287;
    margin-right: 10px;
}

.comment-rating {
    display: flex;
    align-items: center;
    div {
        border-radius: 5px;
        padding: 2.5px 5px;
        background: rgba(54, 57, 62, 1);
        display: flex;
        align-items: center;
        margin-right: 5px;
        cursor: pointer;
        font-size: 16px;
        &:hover {
            background: rgba(54, 57, 62, 0.7);
        }
        img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }
    .active {
        outline: 2px solid #5865f2;
    }
}